# Environments & Secrets
.venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Vector DB & Local Storage (در صورتی که فایل‌های دیتابیس را لوکال می‌سازی)
*.sqlite3
*.db
chroma/
faiss_index/
chroma_db/

# IDEs & Editors
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

rag_engine/data/dev-v2.0.json
